body {
    padding-top: 20px;
    padding-bottom: 40px;
}


#intext  {
    min-width:300px;
}

#outtext {
    line-height: 100%;
    min-width:400px;
}

#intext,
#outtext {
    font-family: Consolas, Courier New;
}


#outtext,
#intext,
#validsyntax,
#syntaxerror,
#select {
    margin-left: 10px;
}