body {
    padding-top: 20px;
    padding-bottom: 40px;
}


.intext  {
    font-family: Consolas, Courier New;
    margin-left: 10px;
}

.outtext {
    font-family: Consolas, Courier New;
    line-height: 100%;
    margin-left: 10px;
    min-width:400px;
}